@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
}

.navlinks {
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.navlinks a {
    text-decoration: none;
    color: white;
    background-color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
}

.navlinks a:active {
    background-color: hsla(0, 0%, 100%, 0);
    border: 2px solid hsl(184, 100%, 22%);
    color: Black;
}

.flexBtn {
    margin-right: 50px;
}

.flex-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.flexitem {
    height: 350px;
    flex-basis: 200px;
    padding: 2.5em;
    font-size: 15px;
    color: white;
}

.flexitem h1,
.flexitem p {
    margin: 25px 0px;
}

.flexitem p,
.flexitem .btn {
    font-family: 'Lexend Deca', sans-serif;
}

.flexitem p {
    font-size: 13px;
    line-height: 20px;
}

.flexitem h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0px 0px 8px;
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 8px 8px 0px;
}

.btn {
    background-color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 100px;
    margin-top: 50px;
}

#sedans .btn {
    color: hsl(31, 77%, 52%);
}

#suvs .btn {
    color: hsl(184, 100%, 22%);
}

#luxury .btn {
    color: hsl(179, 100%, 13%);
}

.flexitem .btn:active {
    background-color: hsla(0, 0%, 100%, 0);
    border: 2px solid white;
}

#sedans .btn:active {
    color: white;
}

#suvs .btn:active {
    color: white;
}

#luxury .btn:active {
    color: white;
}